development:
  git_root: /path/to/git/content
  wiki_name: Name of the wiki
  stop_words: file containing stop words in git_root
  wiki_description: Description
  wiki_keywords: Some keywords
  gliffy_account_id: 
  gliffy_consumer_key: 
  gliffy_consumer_secret: 
  gliffy_description: 
  gliffy_username: 
  gliffy_folder: 
  disqus_name: shortdisqusnamehere
  contact_email: your_email@here.com

test:
  git_root: git/test
  wiki_name: Test Wiki
  stop_words: stop_words
  wiki_description: This is a test wiki
  wiki_keywords: test, wiki
  gliffy_account_id: 
  gliffy_consumer_key: 
  gliffy_consumer_secret: 
  gliffy_description: 
  gliffy_username: 
  gliffy_folder: 
  copyright_holder: Testing Test
  copyright_name: Creative Commons Attribution-Noncommercial-Share Alike 3.0 United States License
  copyright_link: http://creativecommons.org/licenses/by-nc-sa/3.0/us/
  copyright_image: http://i.creativecommons.org/l/by-nc-sa/3.0/us/88x31.png
  disqus_name: shortdisqusnamehere
  contact_email: your_email@here.com

production:
  git_root: /path/to/git/content
  wiki_name: Name of the wiki
  stop_words: file containing stop words in git_root
  wiki_description: Description
  wiki_keywords: Some keywords
  gliffy_account_id: 
  gliffy_consumer_key: 
  gliffy_consumer_secret: 
  gliffy_description: 
  gliffy_username: 
  gliffy_folder: 
  root: /uri_root
  disqus_name: shortdisqusnamehere
  contact_email: your_email@here.com
